
<nav class="navbar navbar-expand-md sticky-top p-1" aria-label>
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img class="img-responsive" src="{{ base_url() }}/imagens/logo.jpeg" alt="CatLanding">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link link-light efeito" href="#quem_sou_eu">Quem sou eu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light efeito" href="#eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light efeito" href="#nossos_cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light efeito" href="#videos">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light efeito" href="#fale_comigo">Fale Comigo</a>
        </li>
        <li class="nav-item d-flex">
          <a class="navbar-text link-light nav-link">Siga-me:</a>
          <a class="navbar-text nav-link" href="#"><i class="bi bi-facebook"></i><a/>
          <a class="navbar-text nav-link" href="#"><i class="bi bi-instagram"></i><a/>
        </li>
      </ul>
    </div>
  </div>
</nav>   