@charset "UTF-8";
/* Variaveis */
/* -------------------------------------------------- */
/* RESET CSS */
/*-------------------------------------------------- */
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

/* Fontes */
/*-------------------------------------------------- */
/* @ "fontes/montserrat" */
/* Plugins */
/*-------------------------------------------------- */
/* Padrão */
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sticky-top {
  background-color: rgba(0, 0, 0, 0.7); }

.efeito {
  color: #FFF;
  position: relative;
  padding: 0px 10px; }
  .efeito:after {
    width: 0;
    height: 2px;
    background-color: #fff;
    content: " ";
    bottom: -7px;
    position: absolute;
    left: 5px;
    transition: 0.25s; }
  .efeito:hover {
    color: #fff; }
    .efeito:hover:after {
      width: 90%; }

.nav-item .navbar-text {
  color: #FFF;
  font-family: montserrat; }

.bi.bi-facebook {
  color: #1877f2; }

.bi.bi-instagram {
  text-align: center;
  border-radius: 40px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }

/* CSS Responsive */
/* Páginas */
/*-------------------------------------------------- */
#quem_sou_eu {
  background-color: #000; }

.btn {
  background-color: #000; }

.titulo {
  color: #fff;
  font-size: 36px;
  line-height: 57px;
  font-family: "Monteserrat Medium";
  font-style: italic; }

.titulo {
  position: relative; }
  .titulo:after {
    width: 100%;
    max-width: 150px;
    height: 5px;
    position: absolute;
    content: " ";
    background-color: #fff;
    bottom: 0;
    left: 0; }

.titulo-nossos-cursos {
  color: #fff;
  font-size: 36px;
  line-height: 57px;
  font-family: "Monteserrat Medium";
  font-style: italic;
  position: relative; }
  .titulo-nossos-cursos:after {
    width: 100%;
    max-width: 100%;
    height: 5px;
    position: absolute;
    content: " ";
    background-color: #fff;
    bottom: 0;
    left: 0; }

.text-dark {
  font-size: 18px;
  line-height: 26px;
  font-family: "Monteserrat Medium"; }

.titulo-dark {
  color: #000;
  font-size: 36px;
  line-height: 57px;
  font-family: "Monteserrat Medium";
  font-style: italic; }

.titulo-dark {
  position: relative; }
  .titulo-dark:after {
    width: 100%;
    max-width: 150px;
    height: 5px;
    position: absolute;
    content: " ";
    background-color: #000;
    bottom: 0;
    left: 0; }

.curso1 {
  font-size: 18px;
  margin: 0 0 50px 0;
  line-height: 26px;
  font-family: "Monteserrat Medium";
  color: #fff;
  position: relative; }
  .curso1::after {
    width: 65%;
    max-width: 655px;
    height: 4px;
    position: absolute;
    content: " ";
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }

.texto {
  font-size: 18px;
  margin: 0 0 50px 0;
  line-height: 26px;
  font-family: "Monteserrat Medium";
  color: #fff;
  position: relative; }

#nossos_cursos {
  background-color: #000; }

.text-light {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-family: "Monteserrat Medium"; }

.sub-titulo {
  color: #fff;
  font-size: 36px;
  line-height: 57px;
  font-family: "Monteserrat Medium";
  font-style: italic; }

.sub-titulo-dark {
  color: #000;
  font-size: 36px;
  line-height: 57px;
  font-family: "Monteserrat Medium";
  font-style: italic; }

.btn-light {
  height: 5vh; }

.carousel {
  height: 50vh; }

.carousel-inner {
  height: 100%; }
  .carousel-inner .altura {
    height: 100%; }

#videos {
  background-color: #fff; }

.carousel-control-prev-icon {
  color: #000; }

#fale_comigo {
  background-color: #000; }

.detalhes a {
  text-decoration: none; }

.detalhes {
  /* SM >= 576px */ }
  .detalhes a i {
    color: #fff; }

@media (min-width: 576px) {
  .eventos {
    padding: 0 30px; }

  /* SM >= 576px */ }
/* MD >= */
 * @media (min-width: 992px) */

/*# sourceMappingURL=styles.css.map */
