#quem-sou-eu
  background-color: #000

.btn
  background-color: #000

.titulo
  color: #fff
  font-size: 36px
  line-height: 57px
  font-family: 'Monteserrat Medium'
  font-style: italic

.titulo
  position: relative
  &:after
    width: 100%
    max-width: 150px
    height: 5px
    position: absolute
    content: ' '
    background-color: #fff
    bottom: 0
    left: 0


.text-light
  font-size: 18px
  line-height: 26px
  font-family: 'Monteserrat Regular'

.text-dark
  font-family: 'Monteserrat Regular'
  font-size: 36px
  line-height: 57px
  font-style: italic

.titulo-dark
  color: #000
  font-size: 36px
  line-height: 57px
  font-family: 'Monteserrat Medium'
  font-style: italic

.titulo-dark
  position: relative
  &:after
    width: 100%
    max-width: 150px
    height: 5px
    position: absolute
    content: ' '
    background-color: #000
    bottom: 0
    left: 0  

.texto
  .titulo-dark
    font-size: 24px
    margin: 0 0 50px 0
    line-height: 36px  
    &:after
      height: 3px

  /* SM >= 576px */
@media (min-width: 576px)
  .eventos
    padding: 0 30px 

  /* SM >= 576px */
@media (min-width: 768px)
/* MD >= */
  @media (min-width: 992px)