#quem_sou_eu
  background-color: #000

.btn
  background-color: #000

.titulo
  color: #fff
  font-size: 36px
  line-height: 57px
  font-family: 'Monteserrat Medium'
  font-style: italic

.titulo
  position: relative
  &:after
    width: 100%
    max-width: 150px
    height: 5px
    position: absolute
    content: ' '
    background-color: #fff
    bottom: 0
    left: 0

.titulo-nossos-cursos
  color: #fff
  font-size: 36px
  line-height: 57px
  font-family: 'Monteserrat Medium'
  font-style: italic
  position: relative
  &:after
    width: 100%
    max-width: 100%
    height: 5px
    position: absolute
    content: ' '
    background-color: #fff
    bottom: 0
    left: 0

.text-dark
  font-size: 18px
  line-height: 26px
  font-family: 'Monteserrat Medium'

.titulo-dark
  color: #000
  font-size: 36px
  line-height: 57px
  font-family: 'Monteserrat Medium'
  font-style: italic

.titulo-dark
  position: relative
  &:after
    width: 100%
    max-width: 150px
    height: 5px
    position: absolute
    content: ' '
    background-color: #000
    bottom: 0
    left: 0

.curso1
  font-size: 18px
  margin: 0 0 50px 0
  line-height: 26px
  font-family: 'Monteserrat Medium'
  color: #fff
  position: relative
  &::after
    width: 65%
    max-width: 655px
    height: 4px
    position: absolute
    content: ' '
    background-color: #fff
    bottom: 0
    left: 0
    right: 0
    margin: 0 auto

.texto
  font-size: 18px
  margin: 0 0 50px 0
  line-height: 26px
  font-family: 'Monteserrat Medium'
  color: #fff
  position: relative

//====================================
#nossos_cursos
  background-color: #000

.text-light
  color: #fff
  font-size: 18px
  line-height: 26px
  font-family: 'Monteserrat Medium'

.sub-titulo
  color: #fff
  font-size: 36px
  line-height: 57px
  font-family: 'Monteserrat Medium'
  font-style: italic

.sub-titulo-dark
  color: #000
  font-size: 36px
  line-height: 57px
  font-family: 'Monteserrat Medium'
  font-style: italic

.btn-light
  height: 5vh

.carousel
  height: 50vh

.carousel-inner
  height: 100%
  .altura
    height: 100%

#videos
  background-color: #fff

.carousel-control-prev-icon
  color: #000

#fale_comigo
  background-color: #000  

.detalhes
  a
    text-decoration: none  

.detalhes
  a
    i
      color: #fff


  /* SM >= 576px */
@media (min-width: 576px)
  .eventos
    padding: 0 30px

  /* SM >= 576px */
@media (min-width: 768px)
/* MD >= */
  @media (min-width: 992px)
