{% include 'partials/header.twig' %}

{% include 'partials/navigation.twig' %}


  {% block content %}
  {% endblock %}


{% include 'partials/footer.twig' %}

 
  {% block js %}{% endblock %}
</body>
</html>